
#Set an apikey. This is required for logging into the IBM Cloud account and giving the Terraform permission to create the resources.
ibmcloud_api_key  = ""

#By default all three CI, CD and CC toolchains get created. Setting the following values to 'false' will prevent the corresponding toolchain from being set up.
#create_ci_toolchain = "true"
#create_cd_toolchain = "true"
#create_cc_toolchain = "true"

#Set titles for each of the toolchains
ci_toolchain_name           = "DevSecOps CI Toolchain - Terraform"
cd_toolchain_name           = "DevSecOps CD Toolchain - Terraform"
cc_toolchain_name           = "DevSecOps CC Toolchain - Terraform"

#Set the resource groups for the toolchains
ci_toolchain_resource_group = "Default"
cd_toolchain_resource_group = "Default"
cc_toolchain_resource_group = "Default"

#Set the Container Registry Namespaces
registry_namespace          = "my-namespace"

#Set the Container Registry Regions
registry_region                 = "ibm:yp:us-south"

#Set the Cluster for CI and CD
ci_cluster_name                    = "mycluster-free"
ci_cluster_namespace               = "prod"
cd_cluster_name                    = "mycluster-free"
cd_cluster_namespace               = "prod"

ci_dev_region                      = "ibm:yp:us-south"
ci_dev_resource_group              = "Default"

#Set the region where the toolchain will be created. Using 'toolchain_region' will set the same value for each of the toolchains.
#The regions can be explicitly set for each toolchain using the variables prefixed with 'ci', 'cd' and 'cc'
toolchain_region            = "us-south"
#ci_toolchain_region         = "us-south"
#cd_toolchain_region         = "us-south"
#cc_toolchain_region         = "us-south"

#Set the Secrets Manager as the secrets provider
#These parameters will apply to CI, CD and CC toolchains
sm_name                     = "sm-compliance-secrets"
sm_location                 = "us-south"
sm_resource_group           = "Default"
sm_secret_group             = "Default"

#Can be set specically for a toolchain
#ci_sm_name                     = "sm-compliance-secrets"
#ci_sm_location                 = "us-south"
#ci_sm_resource_group           = "Default"
#ci_sm_secret_group             = "Default"

#cd_sm_name                     = "sm-compliance-secrets"
#cd_sm_location                 = "us-south"
#cd_sm_resource_group           = "Default"
#cd_sm_secret_group             = "Default"

#cc_sm_name                     = "sm-compliance-secrets"
#cc_sm_location                 = "us-south"
#cc_sm_resource_group           = "Default"
#cc_sm_secret_group             = "Default"

#NOTE By default all three toolchains are set up. The CD and CC templates take ouputs from the CI Toolchain when it is set up.
# If the CI Toolchain is not set up then the following parameters must be set

#evidence_repo_url                   = "https://us-south.git.cloud.ibm.com/{my-repo}/{evidence-repo}"
#inventory_repo_url                  = "https://us-south.git.cloud.ibm.com/{my-repo}/{inventory-repo}"
#issues_repo_url                     = "https://us-south.git.cloud.ibm.com/{my-repo}/{issues-repo}"
