toolchain_region = "us-south"
toolchain_resource_group = "jumpstart"
toolchain_name = "ejd-ghec-devsecops-alm"
sm_instance_crn = "crn:v1:bluemix:public:secrets-manager:eu-de:a/d2948a254c42cdfbec135a5af44f5d56:90151b12-ec22-439b-9d9d-70b9d2536809::"
repo_git_token_secret_crn = "crn:v1:bluemix:public:secrets-manager:eu-de:a/d2948a254c42cdfbec135a5af44f5d56:90151b12-ec22-439b-9d9d-70b9d2536809:secret:49eaccff-a9c2-d52c-96c1-1651de97d217"