

# APIKEY to run the Terraform script
#ibmcloud_api_key        = ""
toolchain_resource_group = "Default"
toolchain_region         = "us-south"

# Controls which of the CI/CD/CC DevSecOps toolchains get created. Only CI in this example
create_ci_toolchain      = true
create_cd_toolchain      = false
create_cc_toolchain      = false

# Required properties for using Key Protect
enable_key_protect       = true
kp_name                  = "prodkeys"
kp_location              = "us-south"
kp_resource_group        = "Default"

# Required properties for using Secrets Manager. Secrets Manager is disiabled in this example
enable_secrets_manager   = false
#sm_name                  = "sm-compliance-secrets"
#sm_location              = "us-south"
#sm_resource_group        = "Default"
#sm_secret_group          = "Default"

# Required Pipeline properties for running the pipelines in the toolchain
ci_registry_namespace    = "my-namespace"
ci_registry_region       = "ibm:yp:us-south"
ci_cluster_name          = "mycluster-free"
ci_cluster_region            = "ibm:yp:us-south"
ci_cluster_resource_group    = "Default"
ci_cluster_namespace     = "dev"
cd_cluster_name          = "mycluster-free"
cd_cluster_namespace     = "prod"

# Bring Your own app variables
# Clone your own app repo
ci_app_repo_clone_from_url     = "https://us-south.git.cloud.ibm.com/open-toolchain/hello-compliance-app"
ci_app_repo_clone_from_branch  =  "main"

# Or Link to one of your existing app repos
#ci_app_repo_existing_url      = ""
#ci_app_repo_existing_branch   = ""

# The above assumes a GRIT location
# For app repos in Git
# The additional variables are required
#ci_app_repo_existing_git_provider  = "githubconsolidated"
#ci_app_repo_existing_git_id        = "integrated"
